/*Help from Net Ninja a little bit here and there from his youtube: https://www.youtube.com/@NetNinja*/

body {
    color: black;
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10,1fr);
    width-max: 1024px;
    margin: 0 auto;
}

div {
    background: none;
    padding: 30px;
}

.header {
    grid-column: 1 / 5;
    background-color: rgb(0, 0, 0);
}

.header nav {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    display: flex;
    margin-left: 30px;
}

.icon {
    display: flex;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: medium;
}

.main-content {
    grid-column: 1 / 5;
    grid-row: 2 / 10 ;
    background-color: rgb(0, 0, 0);
}

.footer {
    grid-column: 1 / 5;
    grid-row: 10 / 11;
    background-color: rgb(0, 0, 0);
}

.footer p {
    color: white;
    margin: 0 auto;
}