body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: cornflowerblue;
    background-image: url(../images/60285.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto ;
    gap: 10px;
}

header {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    padding: 0;
}

main {
    grid-column: 3 / 11;
    grid-row: 2 / 3;
}

footer {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: sticky;
}

li {
    transition: all 0.3s;
}

footer {
    color: white;
    margin-left: 20px;
    font-size: 10px;
}

a {
    /*Add social media symbols down here*/
    color: white;
    text-decoration: none;
}

li:hover {
    transform: scale(1.1);
}

a:visited {
    color: white;
    text-decoration: none;
}

.contact-container {
    background-color: rgb(0, 0, 0);
    padding: 3%;
    border-radius: 50px;
}

.contact-container div {
    display: flex;
    flex-direction: column;
}

label {
    color: rgb(255, 255, 255);
    margin-bottom: 1%;
}

.contact-container h3 {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 2%;
    font-weight: lighter;
}

.info {
    margin-top: 3%;
    padding: 0 10% 0 10%;
}

.info input {
    padding: 5px;
    background: none;
    border: none;
    border-bottom: 1px rgb(255, 255, 255) solid;
    color: white;
}

.message {
    margin-top: 3%;
    padding: 0 20% 0 20%;
    text-align: center;
}

.message > textarea {
    background-color: rgba(F,F,F,.5);
    border: none;
    border-radius: 15px;
}

.button {
    width: 150px;
    margin: 3% auto auto auto;
}

.button > input {
    background-color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}














/* body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: azure;
    background-image: url(../images/background-new.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#header {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 30px 0 30px;
    color: white;
    justify-content: flex-end;
    font-weight: 600;
    font-size: larger;
    min-width: ;
}

.navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navigation a:hover {
    color: #890d65;
}

.navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin-left: 30px;
}

#main {
    height: 85vh;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    color: white;
}



#main > * {
    margin: 0 0 0 30px;
}

#main h1 {
    font-size: 90px;
    margin-bottom: 0
}

#main p {
    font-size: 30px;
    margin-top: 0;
}

#footer {
    height: 5vh;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

#footer p {
    margin: 0;
    font-weight: lighter;
    color: white;
    font-size: 13px;
}

#footer a {
    color: white;
}
 */




/* body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: azure;
    background-image: url(../images/background-new.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#header {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 30px 0 30px;
    color: white;
    justify-content: flex-end;
    font-weight: 600;
    font-size: larger;
}

.navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navigation a:hover {
    color: #890d65;
}

.navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin-left: 30px;
}

#main {
    height: 80vh;
    width: 80%;
    padding: 5px 20px;
    margin: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

#title-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

#title-info h1 {
    margin: 20px 0 0 0 ;
}

#title-info p {
    margin: 0 0 10px 0;
}

#contact-section {
    padding: 10px
    margin: 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-object {
    margin-top: 10px;
    width: 100%;
}

input, textarea {
    width: 100%;
    outline: 0;
    border: 3px solid #000000;
    background: transparent;
    color: black;
    font-size: 17px;
    padding: 5px;
    font-weight: lighter;
}

.send-message input{
    width: 100%;
    /*not the correct way to align but just for now*/
    /* margin-left: 6px;
    margin-top: 20px;
    background: #bf83cb;
    border-radius: 30px;
    border: none;
}





#footer {
    height: 10vh;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    align-items: center;
}

#footer p {
    margin: 0;
    font-weight: lighter;
    color: white;
    font-size: 13px;
}

#footer a {
    color: white; */
/* }  */